<!--This is a test html doc--!>

<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Deaths during the L.A. riots</h1>


<!--Add table using flask template language to ciycle through object list--!>
<!-- This turns each name in our object list into an html table row--!>
<table border=1 cellpadding=7>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Type</th>
        <th>Address</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Race</th>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.full_name }}</td>
        <td>{{ obj.date }}</td>
        <td>{{ obj.type }}</td>
        <td>{{ obj.address }}</td>
        <td>{{ obj.age }}</td>
        <td>{{ obj.gender }}</td>
        <td>{{ obj.race }}</td>
    </tr>
    {% endfor %}
</table>
    </body>
</html>
<!--This will serve as our template moving forward--!>
